name: Build nightly

on:
  schedule:
    - cron: '0 0 * * 1-5'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build on ${{ matrix.os }} - ${{ matrix.java }}
    strategy:
      # PineconeEmbeddingStoreTest uses a single shared index, we can't run multiple CI runs on it at once
      max-parallel: 1
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        java: [21]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false
        if: startsWith(matrix.os, 'windows')

      - uses: actions/checkout@v3

      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: 'maven'

        # jbang is required for some tests, eg McpToolsStreamableHttpTransportTest
      - name: Setup JBang
        uses: jbangdev/setup-jbang@main

      - name: Build with Maven
        run: ./mvnw -B clean install -Dno-format
        env:
          PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
          PINECONE_ENVIRONMENT: ${{ secrets.PINECONE_ENVIRONMENT }}
          PINECONE_INDEX_NAME: ${{ secrets.PINECONE_INDEX_NAME }}
          PINECONE_PROJECT_ID: ${{ secrets.PINECONE_PROJECT_ID }}

      - name: Build with Maven in Native mode
        run: ./mvnw -B install -Dnative -Dquarkus.native.container-build -Dnative.surefire.skip
        env:
          PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
          PINECONE_ENVIRONMENT: ${{ secrets.PINECONE_ENVIRONMENT }}
          PINECONE_INDEX_NAME: ${{ secrets.PINECONE_INDEX_NAME }}
          PINECONE_PROJECT_ID: ${{ secrets.PINECONE_PROJECT_ID }}
